<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <script src="../vue.global.js"></script>
</head>

<body>
    <div id="root"></div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    inputValue: '',
                    list: []
                }
            },
            methods: {
                handleAddItem() {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            },
            template: `
            <div>
                <input v-model="inputValue"/>
                <button 
                    v-on:click="handleAddItem"
                    v-bind:title="inputValue"
                >增加</button>
                <ul>
                    <todo-item v-for="item of list" v-bind:content="item" />
                </ul>
            </div>
            `
        });

        app.component('todo-item', {
            props: ['content'],
            template: '<li>{{content}}</li>'
        });

        app.mount('#root');
    </script>
</body>

</html>